.App {
  text-align: center;
  display:flex;
  flex-direction: center;
  margin: 0 auto;
  align-conent: center;
  align-items: center;
  max-width: 50%;
  flex-direction: column-reverse;
}

.buttons{
  padding: 8%;
}
.allcards{
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
